<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/main.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/fontawesome/css/font-awesome.css}"
    />
      <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/datatables.css}"
    />

    <link rel="stylesheet" type="text/css" th:href="@{/css/lista.css}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro de Usuário</title>
  </head>
	<body class="app sidebar-mini rtl">
	
	<header th:replace="fragment/header :: cabecalho"></header>
	
	<aside>
	<nav th:replace="fragment/sidebar :: nav-sidebar"></nav>
	</aside>
	
	<div class="app-content">
		<section layout:fragment="conteudo"></section>
	</div>

	<footer th:replace="fragment/footer :: rodape"> </footer>

    <script
      type="text/javascript"
      th:src="@{/js/jquery/jquery-3.4.1.js}"
    ></script>
        <script type="text/javascript" 
            th:src="@{/js/bootstrap/bootstrap.js}"></script>
        <script type="text/javascript" 
            th:src="@{/js/main.js}"></script>
                    <script type="text/javascript" 
            th:src="@{/js/datatables.js}"></script>
        <script>
		$(document).ready( function () {
		    $('.table').DataTable({
		    	"language":{
		    	    "sEmptyTable": "Nenhum registro encontrado",
		    	    "sInfo": "Mostrando de _START_ até _END_ do total de _TOTAL_ registros .",
		    	    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
		    	    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
		    	    "sInfoPostFix": "",
		    	    "sInfoThousands": ".",
		    	    "sLengthMenu": "_MENU_ Resultados por página.",
		    	    "sLoadingRecords": "Carregando...",
		    	    "sProcessing": "Processando...",
		    	    "sZeroRecords": "Nenhum registro encontrado",
		    	    "sSearch": "Pesquisar",
		    	    "oPaginate": {
		    	        "sNext": "Próximo",
		    	        "sPrevious": "Anterior",
		    	        "sFirst": "Primeiro",
		    	        "sLast": "Último"
		    	    },
		    	    "oAria": {
		    	        "sSortAscending": ": Ordenar colunas de forma ascendente",
		    	        "sSortDescending": ": Ordenar colunas de forma descendente"
		    	    },
		    	    "select": {
		    	        "rows": {
		    	            "_": "Selecionado %d linhas",
		    	            "0": "Nenhuma linha selecionada",
		    	            "1": "Selecionado 1 linha"
		    	        }
		    	    }
		    	}
		    });
		});
		</script>
</body>
</html>