<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">

<head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/button.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/font-awesome.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/lista.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}"></link>



<!-- JS -->
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.4.1.js}"> </script>
<script type="text/javascript" th:href="@{/js/bootstrap/bootstrap.js}" /></script>
<script type="text/javascript" th:src="@{/js/datatables.js}"> </script>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SPRINGTRAB</title>
</head>
<body>
<section layout:fragment="conteudo">
	
	<div class="app-title">
	<h1>aehoo</h1>
	</div>
<div id="layers">
</div>

<br>
	<h1>LISTAGEM DE USUÁRIOS</h1>
	
	<br>
	<div class="container" style="border-radius:5px;">
	
	
	<div id="no-more-tables">
	<table id="myTable" class="table table-dark cf">
		<thead class="cf">
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Ações</th>
			</tr>
		</thead>
	<tbody>
		<tr th:each="usuario :${listaUsuario}">
			<td data-title="ID" th:text="${usuario.id}">1</td>
			<td data-title="Nome" th:text="${usuario.nome}">Felipe Zilio</td>
			<td data-title="-Email" th:text="${usuario.email}">zilio@hotmail.com</td>
			
			<td data-title="Ações"><a class="btn btn-secondary btn-sm" th:href="@{/usuario/alterar/{id}(id=${usuario.id})}">
			<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
</a>
			<a class="btn btn-danger btn-sm" th:href="@{/usuario/excluir/{id}(id=${usuario.id})}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
		</tr>
	</tbody>
	</table>
	</div>
<div align="center">
<a th:href="@{/usuario/novo}" href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-plus fa-2x"></i> Novo Usuário</span></a>
	</div>
	
	<br><br>
	</div>

</section>
</body>
		
		
</html>