<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body >
	<header class="app-header" th:fragment="cabecalho">
      <a class="app-header__logo" style="color:#fff;" th:href="@{/home}"}>PlantSoft</a>
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <div class="app-nav">
          <p style="float:right; padding-top: 15px; padding-right: 40px; color: #fff " th:text="${usuario_logado.getUsuario().getUsername()}">Nome Usuário</p>
           <a style="float:right; padding-top: 15px;" th:href="@{/logout}"><i class="fa fa-sign-out fa-lg"></i> Sair</a>
      </div>
	</header>
</body>
</html>

