<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">

<head>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/css/font-awesome.css}"></link>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SPRINGTRAB</title>
</head>

<body style="text-align: center;">
<h1  class="display-4" align="center">Cadastro de Usuários</h1>
		
		<div class="container">
		<form style="margin: display: inline-block;" th:action="@{/usuario/excluir}" method="POST" th:object="${usuario}">
		
		<br>
			<div class="row">
			<div class="col"></div>
			<div class="col-md-6">
			
			<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input placeholder="Escreva seu nome" class="form-control" type="text" name="nome" id="nome" th:field="*{nome}"/>
			
			</div>
			</div>
			
			<div class="col"></div>
			</div>
			<br>	
			<div class="row">
			<div class="col"></div>
				<div class="col-md-6">
				<div class="input-group">
				
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input placeholder="Escreva seu email" class="form-control" 
				type="text" name="email" id="email" th:field="*{email}"/>
				</div>
				</div>
			<div class="col"></div>
			</div>
			<br>
			<div class="row">
			<div class="col"></div>
			<div class="col-md-6">
			<div class="input-group">	
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>			
				<input placeholder="Insira sua senha" class="form-control" type="password" name="senha" id="senha" th:field="*{senha}"/>
			</div>
			</div>
			<div class="col"></div>
			</div>
			<br>
			<div class="row">
			<div class="col"></div>
			<div class="col-md-6">
			<div class="input-group">	
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				<input placeholder="Confirme sua senha" class="form-control" 
			type="password" name="confirmeSenha" id="confirmeSenha" th:field="*{confirmeSenha}"/>
			</div>
			</div>
			<div class="col"></div>
			</div>
			<input type="hidden" th:field="*{id}">
			<br>	
			<button class="btn btn-dark" type="submit" >EXCLUIR</button>
			</form>
		</div>
		<script type="text/javascript" th:src="@{/js/jquery/jquery-3.4.1.js}"> </script>
		<script type="text/javascript" th:href="@{/js/bootstrap/bootstrap.js}" /></script>
</body>
</html>