h1 {
	color: #ffffff; 
	font-family: 'Raleway',sans-serif;
	font-size: 62px; 
	font-weight: 800;
	 line-height: 72px;
	  margin: 0 0 24px;
	   text-align: center; 
	text-transform: uppercase;
	text-shadow: 4px 1px 2px #082b34;	
}

body {
	background-color: #454b51;
	background-image: url("../img/190630.jpg");
	background-size:cover;
	
}

body:after{
	opacity: .40;
}

.buttonss:hover{
	color:white;
}
.buttonss{
	background-color:#454b51;
}
h5 {
	color: #ffffff; 
	font-family: 'Raleway',sans-serif;
	font-size: 18px; 
	font-weight: 500;
	 line-height: 42px;
	  margin:-20px 00px 0px;
	   text-align: center; 
	text-transform: uppercase;
	text-shadow: 4px 1px 2px #082b34;	
}
